body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    cursor: url(images/cursor.png), auto;
}
h1,
h2,
p {
    font-family: 'Mont';
}
.screen1 {
    width: 1520px;
    height: 750px;
    display: block;
    background-image: url(images/G2.jpg) ;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.top {
    width: 1270px;
    height: 100px;
    display: flex;
    direction: row;
    padding-left: 121px;
    padding-right: 121px;
    padding-top: 70px;
    padding-bottom: 170px;
    justify-content: space-between;
    /* padding-top: 121px;
    padding-bottom: 121px; */


}
.top > p {
    width: 150px;
    height: 100%;
    display: flex;
    /* position: relative; */
    font-weight: 600;
    color: white;
    font-size: 18px;
    line-height: 96%;
    letter-spacing: -1px;
}
#arrow {
    width: 70px;
    height: 70px;
    position: relative;
    z-index: 1;
    /* margin-left: 1050px; */
    /* margin-left: auto;
    margin-right: 0; */
}
.middle {
    padding-left: 121px;
    padding-right: 140px;
    padding-bottom: 121px;
}
.middle > h2 {
    font-family: 'Neue Machina';
    color: white;
    font-size: 70px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: -1px;
}
.middle > p {
    width: 500px;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: -1px;
}
.bottom {
    width: 1270px;
    height: 100px;
    display: flex;
    direction: row;
    justify-content: space-between;
    padding-left: 121px;
    padding-top: 90px;
}
.bottom > p {
    width: 150px;
    height: 100%;
    display: flex;
    /* position: relative; */
    font-weight: 600;
    color: white;
    font-size: 18px;
    line-height: 96%;
    letter-spacing: -1px;
}
.right {
    text-align: right;
}
#menu > img {
    width: 1400px;
    position: absolute;
    top: 20px;
    left: 50px;
    display: block;
    /* opacity: 1; */

}
.opacity {
    display: none;
    /* opacity: 0; */
    transition: 0.3s;
}
.menuPoint {
    width: 890px;
    position: absolute;
    top: 150px;
    left: 120px;
}
.menuPoint > div {
    font-family: 'Neue Machina';
    color: white;
    font-size: 80px;
    margin: 40px;
    /* opacity: 0.7; */
    /* display: flex;
    direction: column; */
}
.menuPoint > div > img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    /* -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out; */
    /* filter: alpha(opacity=100%); */
}
.menuPoint >div:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}
a {
    text-decoration: none;
    color: white;
}

